.header {
  padding: $gutter/2;
  color: $gray-400;
  grid-area: header;

  &__logo {
    max-width: 200px;
    height: 3rem;
    margin: auto;
    background-color: $red;
  }

  &__menu {
    @include media-breakpoint-up('sm') {
      display: flex;
    }
    @extend %columns;

    a {
      display: block;
      color: $gray-600;
      text-align: center;

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }
}
