@import 'variables';
@import '~@marsbased/marscss';

@include marscss;

@import 'header';

body {
  height: 100%;
  background-color: $black;
}

.container {
  display: grid;
  min-height: 100%;
  grid-template:
    'header' auto
    'content' 1fr
    'footer' auto;
}

.content {
  display: grid;
  padding: $gutter $gutter/2;
  background-color: $white;
  grid-area: content;
}

.footer {
  padding: $gutter/2;
  color: $gray-400;
  grid-area: footer;
}
